<header class="course-header">
	<h2>Faculty Evaluations and Observations</h2>	
	<%= link_to "Edit Evaluation Template", institution_evaluation_template_index_path(@institution), class: "btn btn-monkey pull-right" %> <br /><br />
</header>

<% if @evaluations && @evaluations.any? %>
	<table class="table faculty-table">
		<thead>
			<tr>
				<th>
					Teacher
				</th>
				<th>
					Published
				</th>
			</tr>
		</thead>
		<tbody>
			<% @evaluations.each do |evaluation| %>
				<tr>
					<td><%= link_to evaluation.teacher.full_name, institution_evaluation_path(@institution, evaluation) %></td>
					<td><%= time_ago_in_words evaluation.created_at %> ago</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	There are no evaluations yet.
<% end %>