<%= render 'layouts/navbar_chalkboard' %>

<div class="hero">
  <section class="chalkboard">
    <div class="row-fluid">
      <div class="span12">
        <header class="hero-header">
          <h1>Hero Header</h1>
          <h2>Hero Subheader</h2>
        </header>
      </div>
    </div>
  </section>
</div>