<%= render 'layouts/navbar_chalkboard' %>

<div class="hero">
  <section class="chalkboard">
    <div class="row-fluid">
      <div class="span12">
        <header class="hero-header">
          <h1>This is a Header</h1>
          <h2>This is a Subheader</h2>
        </header>
        <div class="primary-cta-btn">
          <a href="#">Get a Free Demo</a>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="leader-content">
  <hr class="beige-banner"/>
  <div class="row-fluid">
    <div class="span12">
      <header class="intro-content">
        <h1>New Header</h1>
        <h3>Simple Header</h3>
      </header>
    </div>
  </div>

</section>
