<div class="centered-viewport">
	<h1>First Class Teachers Deserve First Class Coaching.</h1>
	<h2>Keep your teachers at the top of the class.</h2>
	<p><a href="#" class="btn btn-warning btn-large">Sign Up Free</a></p>
</div>
