<%= provide(:title, "Pricing - A Coaching Tool for Teachers") %>

<div class="container-fluid" style="margin-top: 70px;">
	<div class="feature-div">
		<section class="section-content">
			<div class="inner-content">
				<header class="intro-content">
					<h1>The Right Price for Your School</h1>
				</header>
			</div>
		</section>
		<article>
			<div class="span6">
				<table>
					<tr>
						<th>test</th>
					</tr>
					<tr>
						<td>test</td>
					</tr>
				</table>
			</div>
			<div class="span6">
				<p class="intro-paragraph">
					Test Content
				</p>
				<%= link_to "Sign Up Free", request_trial_path, class:"btn btn-warning btn-large", id:"pricing-cta-button" %>
			</div>
		</article>
	</div>
	

</div>

