<%= render 'layouts/navbar_chalkboard' %>

<% content_for :chalkboard_promo_text do %>
    <h1>Great Teachers + Great Administrators = Student Success.</h1>
    <h2>Easily Create and Manage SLEs, Professional Development Plans, and Curriculum Maps.</h2>
<% end %>
<%= render 'static_pages/hero_chalkboard' %>