<html>
	<head>
		
	</head>
	<body style="background: #f7f7f7; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;">
		<table style="width:100%;">
			<tr>
				<td style="text-align: center;">
					<table style="width: 600px; background: #ffffff;">
						<tr>
							<td>
								<h1 style="font-size: 28px; font-family:'Permanent Marker', cursive; color:#50596D; ">Swibat <span style="font-size:10px;">(beta)</span></h1>
							</td>
						</tr>
						<tr>
							<td></td>
						</tr>
						
					</table>
				</td>
			</tr>
		</table>
		
	</body>
</html>

<%= @greeting %> <%= @user.first_name %>,

<p>Welcome to Swibat, a community of teachers who work together to create great curriculum, help each other out professionally, and are commited to building awesome schools!</p>

<p>If you haven't already, <a href="http://www.swibat.com/users/sign_in">Log in</a> and create your first course!

<p>As you know, we're currently in a private beta, so as you use the site, feel free to use the "Feedback" button liberally!</p>

<p>Enjoy,<br/>
	Jesse Flores<br/>
	Founder<br/>
	<a href="http://www.swibat.com/teachers">Swibat.com</a>
</p>
