<div class="stat-container cleafix">
  <div class="stat-holder">
    <div class="stat">
      <span><%= @total_eval_count %></span>
      <p>Total Observations</p>
    </div>
  </div>

  <div class="stat-holder">
    <div class="stat">
      <span><%= @total_video_count %></span>
      <p>Total Videos</p>
    </div>
  </div>

  <div class="stat-holder">
    <div class="stat">
      <span></span>
      <p>Implement Active Goals</p>
    </div>
  </div>
</div>

<div style="position: relative; clear: both; width: auto;">
  <%= render partial: 'institutions/faculty_table', locals: {faculty: user.institution.faculty} %>
</div>