<!-- this is nested under div.application-center -->

<div class="course-overview">
  <header>
    <h1>Active Courses</h1>
    <% if current_user == @user %>
        <%= link_to "Create a Course", new_user_course_path(current_user), class:"btn btn-warning" %>
    <% end  %>

    <% current_user.courses.each do |course| %>
        <h2><%= course.course_name %></h2>

    <% end %>
  </header>
</div>