<div class="field">
<%= f.select :link_type, {"Twitter Profile" => "Twitter Profile", "LinkeIn Profile" => "LinkedIn Profile", "Website" => "Website" } %>    
<%= f.text_field :url %>
<%= link_to_remove_fields "remove", f, true %>
</div>