<tr class="field">	
	<td>
		<%= f.select :accomplishment_type, {"Certificate" => "Certificate", "Award" => "Award" } %>    
	</td>
	<td>
		<%= f.text_field :name %>    
	</td>		
	<td>
		<%= f.text_field :year, :class => 'input-small' %>    
	</td>	
	<td>
		<%= link_to_remove_fields "remove", f, true %>
	</td>
</tr>
