<div class="course-organizer">
  <div class="box-row">
    <div class="span12 box height5 no-left-margin box-bottom-margin">
      <h1>Get Started in Three Steps</h1>
      <div class="span3 offset1">
        <div class="welcome-icon"><i class="icon-user"></i></div>
        <div class="welcome-links">
          <%= link_to "1. Complete Your Profile", edit_user_path(current_user), class: "btn btn-welcome btn-monkey" %>
        </div> 
      </div>
      <div class="span3">
        <div class="welcome-icon"><i class="icon-file-alt"></i></div>
        <div class="welcome-links">
          <%= link_to "2. Add a Course", "#", class: "btn btn-welcome btn-monkey" %>
        </div> 
      </div>
      <div class="span3">
        <div class="welcome-icon"><i class="icon-sitemap"></i></div>
        <div class="welcome-links">
          <%= link_to "3. Map & Share", "#", class: "btn btn-welcome btn-monkey" %>
        </div> 
      </div>
    </div>
  </div>
</div>