<ul class="nav nav-tabs nav-stacked" id="sidebar-nav">
    <li>
      <%= link_to "Dashboard <i class='icon-home'></i>".html_safe, user_path(@user) %>
    </li>
    <li>
      <%= link_to "Videos <i class='icon-film'></i>".html_safe, videos_user_path(@user), class:"user-videos" %>
    </li>
    <li>
      <%= link_to "Observations <i class='icon-laptop'></i>".html_safe, evaluations_user_path(@user) %>
    </li>
    <li>
      <%= link_to "#{@user.first_name}<i class='icon-user'></i>".html_safe, edit_user_path(@user) %>
    </li>
</ul>