<div class="stat-container cleafix">
  <div class="stat-holder">
    <div class="stat">
      <span><%= user.teacher_evaluations.count %></span>
      <p>Observations</p>
    </div>
  </div>

  <div class="stat-holder">
    <div class="stat">
      <span><%= user.videos.count %></span>
      <p>Videos</p>
    </div>
  </div>

  <div class="stat-holder">
    <div class="stat">
      <span><%= user.evaluations.count %></span>
      <p>Active Goals</p>
    </div>
  </div>
</div>

