<div class="invite-block">
  <h3>Share the Knowledge!</h3>
  <p>Invite other educators to share their professional expertise!</p>
  <a class="btn btn-monkey" href="#">Invite</a>
</div>

<div class="course-overview">
  <header class="course-header">
    <h4 class="wide">Interesting Lessons</h4>
  </header>
</div>

<div class="course-overview">
  <header class="course-header">
    <h4 class="wide">Can you Answer These?</h4>

  </header>
</div>