<header class="course-header">
  <h3><%= pluralize(@user.answers.count, "Answer") %></h3>
</header>
<section class="user-content-summary">
  <% if (current_user && current_user.answers.count == 0) %>
      <p>Help your fellow teachers out. <%= link_to "Answer some questions!", questions_path %></p>
  <% else @user.answers.each do |answer| %>
      <p><%= link_to "#{answer.text}", answer_path(answer), class:"gray" %></p>
      <% end %>
  <% end %>

</section>