<% if @awards.any? %>
    <header>
      <h2>Awards Won</h2>
    </header>
    <% @awards.each do |award| %>
    	<p>
      	<%= award.name %> <%= "(" + award.year.to_s + ")" if award.year %>
      </p>
     <% end %>

<% end %>