<% if @user.specialties.any? %>
    <header xmlns="http://www.w3.org/1999/html">
      <h2>Professional Skillset</h2>
    </header>
    <div>
    	<span>
    		<%= raw @user.specialties.map {|special| special.name }.join(", ") %>
    	</span>
    </div>
<% end %>

