<div class="course-organizer">
  <div class="box-row">
    <div class="span12 box no-padding height5 no-left-margin box-bottom-margin">
      <div class="span3 border-right">
        <ul class="nav sidebar-nav">
          <li>
            <a href="#"><%= @user.first_name %><i class="icon-chevron-right"></i></a>
          </li>
          <li>
            <a href="#">Courses <i class="icon-chevron-right"></i></a>
          </li>
          <li>
            <a href="#">Maps <i class="icon-chevron-right"></i></a>
          </li>
          <li>
            <a href="#">Network <i class="icon-chevron-right"></i></a>
          </li>
          <li>
            <a href="#">Playlist <i class="icon-chevron-right"></i></a>
          </li>
          <li>
            <a href="#">Observations <i class="icon-chevron-right"></i></a>
          </li>
          <li>
            <a href="#">Evaluations <i class="icon-chevron-right"></i></a>
          </li>
          <li>
            <a href="#">Professional Goals <i class="icon-chevron-right"></i></a>
          </li>
        </ul>
      </div>

      <div class="span9">
        test
      </div>
    </div>
  </div>
</div>