<% if @certifications.any? %>
    <header>
      <h2>Certifications</h2>
    </header>
      <% @certifications.each do |cert| %>
      	<p>
      		<%= cert.name %> <%= "(" + cert.year.to_s + ")" if cert.year %>
      	</p>
      <% end %>
<% end %>