<h1>All Users</h1>
<div class="span6 offset3">
  <%= form_tag(users_url, method: :get, class:"form-search", id:"user-search-form") do %>
      <%= text_field_tag :q, nil, class:"input-large search-query", placeholder: "Search Users" %>
      <%= submit_tag "Search", class:"btn btn-monkey" %>
  <% end %>
</div>

<div class="list-users">
    <%= render partial: 'users/user_index_profile' %>
</div>

