<% content_for :left_column do %>	
	<div class="iconcontainer">
		<div class="iconfocus">
		<%= link_to '<i class="icon-user circle"></i>'.html_safe, institution_faculty_index_path(@user.institution), class: "iconlink" %>			
			<h3>Add Your Faculty</h3>
		</div>
		<div class="iconfocus">
			<%= link_to '<i class="icon-file circle"></i>'.html_safe, add_institution_evaluation_templates_path(@user.institution), class: "iconlink" %>
			<h3>Create a Template</h3>
		</div>
	</div>			
<% end %>

<% content_for :right_column do %>
	<div class="primer-container">
		<h4>A Quick Primer</h4>
		<p>Create templates to use as the basis for classroom observations.</p>
	</div>
<% end %>