<div class="application-body container-fluid">
  <div class="application-row row-fluid">
    <div class="span8">
      <%= render 'profile_header' %>
      <%= render 'user_summary' %>
    </div>
    <div class="span4 prettyprint">

    </div>

  </div>
</div>