<div class="application-body">
  <div class="application-row">
    <div class="col8">
      <%= render 'profile_header' %>
    </div>
    <div class="col4 prettyprint">

    </div>

  </div>
  <div class="application-row">

    <div class="col8 prettyprint">
      <%= render 'application_center' %>
    </div>

    <div class="col4 prettyprint">

    </div>

  </div>
</div>