<%= render 'profile_header' %>
<%= render 'user_summary' %>

<% content_for :sidebar do %>
    <div class="invite-block">
      <h2>Invite Colleagues</h2>
      <p>Invite some friends and so forth</p>
      <a class="btn btn-warning" href="#">Invite</a>
    </div>

<% end %>