<%= render 'profile_header' %>

<div class="application-body">
  <div class="application-left-sidebar prettyprint">

  </div>
  <div class="application-center prettyprint">

    <%= render 'application_center' %>

  </div>
  <div class="application-right-sidebar prettyprint">

  </div>
</div>