<%= provide(:title, "#{@user.full_name}'s Videos") %>

<%= render 'shared/user_header' %>

<p>This page should show video thumbnails, with title and date added.</p>
<p>It should have the video title.</p>
<p>For the administrator, there should be a link to add a video that goes to video show page</p>