<%= provide(:title, "#{@user.full_name}'s Videos") %>

<%= render 'shared/user_header' %>

<%= render partial: 'videos/collection', locals: {videos: @videos} %>

<p>For the administrator, there should be a link to add a video that goes to video show page</p>