<div class="row-fluid">
	<div class="span12">
		<div class="banner-sign-up">
			<h3 class="red">Do you have awesome curriculum to contribute?</h3>
			<p>Share it for free. Your help makes us all better. Besides, it's for the kids.
			</p>
			<p>
				<a class="btn btn-monkey" href="#signUpModal" data-toggle="modal">Sign Up!</a>
			</p>				  
		</div>
	</div>
</div>