<div class="row-fluid">
	<div class="span12">
		<div class="banner-sign-up">
			<h3 class="red">Have friends who are awesome teachers?</h3>
			<p>Invite them to join! Not only is it free, but then y'all can share content, ideas, and so forth. Boom.
			</p>
			<p>
				<a class="btn btn-monkey" href="#inviteModal" data-toggle="modal">Invite</a>
			</p>				  
		</div>
	</div>
</div>

<%= render 'shared/form_invite_modal' %>