<div class="invite-block">
  <h3>Share the Knowledge!</h3>
  <p>Invite other educators to share their professional expertise!</p>
  <a class="btn btn-monkey" href="#inviteModal" data-toggle="modal">Invite</a>
</div>

<div id="inviteModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2>Invite</h2>
  </div>  
    <div class="modal-body">
    	<p>Invite other educators to share their professional expertise!</p>
    </div>
    <div class="modal-footer">
      <form>
      	<input type="text"
      </form>
    </div>
</div>