<div class="sidebar">
  <header class="course-header">
    <h3 class="wide">Similar Units</h3>
  </header>
  <section>
  	<h4>Based on common objectives</h4>
  	<div id="similarObjectiveables"></div>
  	<h4>Based on title</h4>
  	<div id="similarObjectiveablesTitle">
  	</div>
  </section>
</div>