<tr class="field">	
	<td>
		<%= f.text_field :objective, :onblur => "retrieveSimilarObjectiveables('Lesson')", :class => "objectiveName" %> <%= link_to_remove_fields "remove", f, true %>
	</td>
</tr>
