<div class="course-form">
	<%= render partial: 'shared/user_header', locals: {user: current_user} %>
  <header class="course-header">
    <h2>Create a new course</h2>
  </header>
  <%= render 'form_course' %>
</div>




