// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************************
Variables
********************************/
//Fonts
$header-gradient-dark-color: #2B2F3A;
$header-gradient-light-color: #50596D;
$open-sans: 'Open Sans', 'Helvetica Neue Light', sans-serif;
$fancy-gray: rgba(80, 89, 109, 0.9);
$soft-gray: rgba(80, 89, 109, 0.5);


//Padding and Such
$page-width: 980px;
$box-margin: 0.7692em !important;

/*********************************
Begin Course-specific css - but make
sure to copy over variables
*********************************/

div.course-form{
  float:left;

  header.course-form-header{
    margin-bottom: 2%;

    h1{
      font-size: 3em;
      color: #5f6e68;
      text-shadow: 2px 2px rgba(234, 231, 231, 0.8);
    }

  }

  form {
    $minFormHeight: 1.25em;//32px:16px

    padding: 2%;
    float:left;

    div.two-column-form{
      width:100%;
      float:left;
      clear:both;
      margin-top: 2%;

      label{
        width:40%;
        display: inline-block;
        float: left;
      }

      input[type="select"]{
        display: inline-block;
        width: 40%;
        height:$minFormHeight;
      }
    }

    div.form-row{
      width:100%;
      float:left;
      text-align:right;
    }

    label, p {
      font-size: 1.23em; //16px : 13px
      margin: 10px 0px 10px 0px;
    }

    input[type="text"], textarea{
      width: 100%;
      min-height: $minFormHeight;
      font-size: 1.07692308em;
      color: rgba(80, 89, 107, 0.90);
    }
    input[type="text"].cleared{
      clear:right;
    }

    input[type="text"].single-edit-input{
      width:83%;
    }

    textarea{
      height: 60px;
    }
  }
}

div.favoritecount{

}

div#user-header{
  display: block;
  float: left;

  img.header-profile-picture{
    width: 18%;
    height: 18%;
  }

  h3{
    a{
      color: #50596D;
    }

    a:hover{
      color: rgb(164, 50, 32);
      text-decoration: none;
    }
  }
}

div#course-summary, div.course-overview, div#syllabus{
  float:left;

  section.course-info{
    float:left;
    width:100%;

    p, li{
      font-size: 1.07692308em;//14px:13px
    }

    p.standard-font{
      font-size: 1em;//10px:13px
    }

    p.none-provided{
      font-style: italic;
    }

    header{
      float:left;
      width:100%;

      h2{
        //font-size: 1.3077em;//17px:13px
        font-size: 1.23076923em;//16px:13px
        float:left;
        //color: rgb(164, 50, 32);
        width: 100%;

        a{
          font-size:0.8em;
        }

      }

      a.get-syllabus, a.edit-course-unit, a.see-course-unit, a.edit-unit-lesson, a.see-unit-lesson{
        display: inline-block;
        margin-top: 0.5em;
      }

    }

    article{
      float:left;
      width:100%;
      //background: rgba(152, 161, 186, 0.1);

    }

    div.comments{
      padding-left: 3%;
    }

    div.comment-field{

      textarea{
        width:100%;
        height: 4em;
      }

    }

  }

}

p.question{
  font-size: 1.07692308em;//14px:13px
  margin-top: 0.5em;
  float: left;
  width: 100%;
}

header.course-header, header.index-header{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin-top: 1.5385em; //20px:13px
  margin-bottom: 1.5385em;//20px:13px
  font-weight: 300;
  float:left;
  width:100%;


  h1, h2, h3{
    color: $fancy-gray;
    font-weight: 300;
  }

  h1{
    font-size: 1.8462em;//24px:13px
    line-height: 1em;

    span{
      i{
        display: inline-block;
        margin-top: 8px;
      }
    }
  }

  h2 {
    float:left;
    font-size: 1.38461538em;//18px:13px
  }

  h2.breadcrumb-header{
    font-size: 1.38461538em;
  }

  h3{
    font-size: 1.3077em;//17px:13px
    line-height: 1.619em;

    span{
      font-size: 0.7647em;
    }

  }

  a.disguised-header-link{
    color: #5f6e68;
  }

  .title-icon{
    display:inline-block;
    margin-top: 0.9em;
    margin-left: 0.5em;
    float: left;
  }

  .pulled-icon{
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 0.5em;
  }

}

div#course-organizer{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: $fancy-gray;
  float: left;
  width: 100%;

  h3{
    font-weight: 300;
    margin-left: 0.7692em;//10px:13px

    span{
      i{
        display: inline-block;
        margin-top: 4px;
      }
    }
  }

  p{
    margin-left: 1em;//10px:13px
  }

  ul{
    li:hover{
      background: #e7e7e7;
    }
  }

  .box-top-margin{
    margin-top: $box-margin;
  }

  .box-right-margin{
    margin-right: $box-margin;
  }

  .box-bottom-margin{
    margin-bottom: $box-margin;
  }

  .box-left-margin{
    margin-left: $box-margin;
  }

  div.box-container{
    float: left;
    max-width: 27.2em; //354px:13px;
  }

  div.span12box{
    width: 100%;
    border: 1px solid $soft-gray;
    margin-bottom: 0.7692em;
  }

  div.span3box{
    width: 23% !important;
    float: left;
    border: 1px solid $soft-gray;
    min-height: 320px !important;
  }

  div.span6box{
    width: 100%;
    float: left;
    border: 1px solid $soft-gray;
    min-height: 155px;
    margin-left: 10px !important;

  }

}









