// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.course-form{

  header.course-form-header{
    margin-bottom: 2%;

    h1{
      font-size: 3em;
      color: #5f6e68;
      text-shadow: 2px 2px rgba(234, 231, 231, 0.8);
    }

  }

  form {
    $minFormHeight: 2em;//32px:16px

    padding: 2%;
    float:left;

    div.two-column-form{
      width:100%;
      float:left;
      clear:both;
      margin-bottom:10px;

      label{
        width:40%;
        display: inline-block;
        float: left;
      }

      input[type="select"]{
        display: inline-block;
        width: 40%;
        height:$minFormHeight;
      }
    }

    label, p {
      font-size: 1.23em; //16px : 13px
      margin: 10px 0px 10px 0px;
    }

    input[type="text"], textarea{
      width: 100%;
      min-height: $minFormHeight;
      font-size: 1.23em;
    }

    textarea{
      height: 60px;
    }


  }


}

div.vote{
  margin: 0 auto;
  width: 50%;
  border: solid 1px #e7e7e7;

  a.vote-up{
    display:block;
    margin: 0 auto;
    border:solid;

  }

  a.vote-down{

  }

  span.vote-count{
    display:block;
    margin:0 auto;
    width: 50%;
    font-size: 3em;
    font-weight: 300;

  }
}

div.favoritecount{

}

div#course-summary{
  float:left;

  header.course-header{
    font-weight: 300;
    float:left;
    width:100%;
    border-bottom:1px solid rgba(152, 161, 186, 0.5);

    h2{
      font-size: 1.5385em;//20px:13px
      float:left;
      color: rgb(164, 50, 32);

    }
  }

  section.course-info{
    float:left;
    width:100%;

    p, li{
      font-size: 1.0769em;//14px:13px
    }

    p.standard-font{
      font-size: 1em;//10px:13px
    }

    header{
      float:left;
      width:100%;

      h2{
        font-size: 1.3077em;//17px:13px
        float:left;
        //color: rgb(164, 50, 32);

      }

    }

    article{
      float:left;
      width:100%;
      //background: rgba(152, 161, 186, 0.1);

    }

    div.comments{
      padding-left: 3%;
    }

    div.comment-field{

      textarea{
        width:100%;
        height: 4em;
      }

    }

  }

}

