@import "bootstrap";
body {
  //padding-top: 60px;
  background: rgba(234, 231, 216, 0.5);
}
@import "bootstrap-responsive";
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
//call the font family: font-family: 'Permanent Marker', cursive;
//gray - rgba(96, 110, 103, 1)


.navbar-inner{
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(top, #a3db5b, #4c9304);
}

.navbar .brand {
  color:rgba(255,255,255, 1);
  font-family: 'Permanent Marker', cursive, "Helvetica Neue", sans-serif;
  font-size: 60px;
}

.navbar .nav > li > a {
  color:#FFFFFF;
  font-size:1.2em;
}

.navbar .nav > li > a:hover{
  color: #000;
}

.no-decor{
  color:#000;
}

div.prettyprint{
  background-color:#f7f7f9;
  border: 1px solid #e1e1e8;
  padding: 5px;
  border-radius: 3px 3px 0px 0px;
}

.bordered {
  border: 1px #e7e7e7 solid;
  border-radius: 3px;
  padding: 10px;
  margin-bottom:10px;

  .header-link{
    color:#4c9304;
  }

  p.top {
    margin-top: 10px;
    font-size: 1.1em;
  }

  strong.verb{
    color:#ff0000;
  }

}

.header-green{
  color:#4c9304;
}