@import "bootstrap";
body {padding-top: 60px;}
@import "bootstrap-responsive";


.navbar-inner{
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(top, #a3db5b, #4c9304);
}

.navbar .brand {
  color:#FFFFFF;
}

.navbar .nav > li > a {
  color:#FFFFFF;
}

.navbar .nav > li > a:hover{
  background-color: #DBDB70;
}

.no-decor{
  color:#000;
}

div.prettyprint{
  background-color:#f7f7f9;
  border: 1px solid #e1e1e8;
  padding: 5px;
  border-radius: 3px 3px 0px 0px;
}

.bordered {
  border: 1px #e7e7e7 solid;
  border-radius: 3px;
  padding: 10px;
  margin-bottom:10px;

  .header-link{
    color:#4c9304;
  }

  p.top {
    margin-top: 10px;
    font-size: 1.1em;
  }

  strong.verb{
    color:#ff0000;
  }
}