// Place all the styles related to the Demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.plain-bg{
  //background: rgba(224, 224, 224, 0.1);
  //background: rgba(234, 231, 216, 0.1);
  //background: rgba(231, 231, 231, 0.1);
  //background: rgba(152, 162, 186, 0.1);
  //background: rgba(255, 249, 234, 0.1);
  background: #ffffff;
  background-image: none;
  padding-top: 60px;
}

.navbar .menu {
  color:rgba(255,255,255, 1);
  font-family: 'Permanent Marker', cursive, "Helvetica Neue", sans-serif;
  font-size: 36px;
  text-decoration: none;

}

table.development-table{

  margin: 20px 0px 20px 0px;

  th {
    text-align:center;
    width: 15%;
  }

  .light-right-padded {
    padding-left: 20px;
  }

  i{
    margin: 3px;
  }
}
