.faculty-table{
	
	table{
		font-size: 1.3em;
	}
	
	.table{


	}

	.table-bordered{
		border-collapse: separate;
		border-top: none;
		@include rounded-corners(4px);
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	ul.dropdown-menu{
		li{
			a{
				font-size: 0.722em;
			}
		}
	}

}

.faculty-header{
	height: 4em;
	line-height: 4em;
	@include linear-gradient(top, #FAFAFA, #E9E9E9);
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	i{
		margin-left: 1.3em;
		vertical-align: middle;
	}

	h3{
		color: $fancy-gray;
		position: relative;
		top: 4px;
	}

}

.right_column_form{
	margin-top: 1.5em;
	
}

.template-list{
	padding-top: 1em;
	background: #ffffff;
	margin-bottom: 1.5em;
}

th.eval{
	text-align: center;
}

td.eval{
	input[type="radio"]{
		margin: 0 auto;
		display: block;
	}
}

tr.domain-row{
	border-collapse: collapse;
	td{
		font-size: 1.8em;
	}
}
table{
	tr:first-child th{
		background-color: #ffffff;
	}
	tr:nth-child(even) td{
		background-color: #ffffff !important;
	}
}

