// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.application-body{
  //width: 80%;
  margin: 0px auto;

  div.application-row{
    //width:100%;
    float:left;
    margin: 0 0 2% 0;
  }

  div.profile-header{
    width: 100%;
    float:left;
    background: rgba(152, 161, 186, 0.25);

    img.header-profile-picture {
      display: inline-block;
      float: left;
      margin: 2%;
      vertical-align: top;
      width: 12.82%; /*150px : 1170px*/
      height: 12.82%;/*150px;*/
      border: 10px solid #FFF;
      -moz-box-shadow: 2px 2px 10px rgb(1, 21, 38);
      box-shadow: 2px 2px 10px rgb(1, 21, 38);
    }

    div.profile-summary{
      float:left;
      margin-top: 2%;
      margin-bottom: 2%;
      width: 75%;

      dl.dl-horizontal{
        width: 100%;

        dt {
          text-align: left;
          width: 12%;
        }
        dd {
          margin-left: 0px;
        }
      }
    }

  }


  .small-padding{
    padding: 1%;
  }

  .medium-padding{
    padding: 2% 2% 2% 2%;
    width: 30%;
    font-size: 1.23em;
  }

  div.application-left-sidebar{
    width: 31.303419%;
    float: left;

  }

  div.application-center{
    width: 66%;
    float: left;

  }

  div.application-right-sidebar{
    width: 20%;
    float: right;

  }

}

div.user-form{

}

div.course-overview{
  float:left;
  width:100%;
  //border: solid 1px #e7e7e7;
  //padding: 5px;
  margin: 1.5385em 0 0 0;//20px:13px

  header.course-header{
    float:left;
    width: 100%;
    clear:both;
    border-bottom: 1px solid rgba(152, 161, 186, 0.5);

    h3{
      font-size:1.538462em;
      float:left;
      width:50%;
      margin-bottom: 0.25em; //05px:20px
      }

  }

  div.accordion{
    clear:both;

    .accordion-group, .accordion-heading{
      border:none;

      a.btn{
        margin-top:6px;
      }

    }

    .accordion-group:hover, .accordion-heading:hover{
      background: rgba(152, 161, 186, 0.10);
    }

    a.accordion-toggle{
      width:80%;
      display:inline-block;
    }

  }

}

