<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      <%= @from %> has invited you to join <a href="http://swibat.com">Swibat</a>      
    </p>
    <p>
      In addition, they added the following message:<br />
      <%= @message %>
    </p
    <p>
      To register, click the following link:<br />
      <a href="http://swibat.com/users/sign_up" />http://swibat.com/users/sign_up</a></p>    
  </body>
</html>