<div class="span12 micropost-sidebar">
	<% if signed_in? %>
		<%= render 'microposts/form_micropost' %>
	<% end %>
	<% if @user.microposts.any? %>
		<ol class="microposts">
			<% @user.microposts.each do |micropost| %>
				<%= render partial: 'microposts/microposts', locals: {micropost: micropost} %>
			<% end %>
		</ol>
		
	<% end %>
</div>