<header class="navbar hidden-print" id="application-header">
  <div class="row-fluid">
    <div class="span12">

    </div>
  </div>
  <div class="row-fluid">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navdiv">
      <div class="nav-collapse collapse">
        <nav class="application-nav">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li><%= link_to "my courses", "#", class:"last" %></li>
              <li><%= link_to "maps", "#" %></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>


