<%= yield :sidebar_profile %>

<%= yield :sidebar_invite %>

<div class="course-overview">
  <header class="course-header">
    <h4 class="wide">Interesting Lessons</h4>
  </header>
</div>

<div class="course-overview">
  <header class="course-header">
    <h4 class="wide">Can you Answer These?</h4>

  </header>
</div>