<% if current_user %>
<div class="sidebar-nav no-left-margin">
  <ul>
    <li><%= link_to "<i class='icon-group'></i> Faculty".html_safe, faculty_institution_path(current_user.institution) %></li>
    <li><%= link_to "<i class='icon-file-text'></i> Templates".html_safe, institution_evaluation_templates_path(current_user.institution) %></li>
    <li><%= link_to "<i class='icon-user'></i> Profile".html_safe, user_path(current_user) %></li>
  </ul>
</div>
<% end %>