<div class="course-organizer" id="container2">
  <div id="container1">
    <div class="span12 no-padding height5 no-left-margin box-bottom-margin">
      <div class="span3" id="col1">
        <%= yield :left_column %>
      </div>
      <div class="span9" id="col2">
        <%= yield :right_column %>
      </div>
    </div>
  </div>
</div>