<!DOCTYPE html>
<html id="bg">
<head>
  <%= render 'layouts/head_content' %>
</head>
<body>
    <div id="main" role="main">
      <%= render 'layouts/navbar_static_pages' %>
        <div class="content">
            <div class="container-fluid">
              <div class="span12">
                <%= render 'layouts/messages' %>
              </div><!--end of .span12 -->

                <%= yield %>

          </div><!--end of .container-fluid -->
        </div><!--end of .content> -->
    </div><!--end of .main> -->
</body>
</html>
