<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head_content' %>
</head>
<body>
    <div id="main" role="main">
        <div class="content">
          
          <div id="bg">
            <div class="container-fluid">
              <div class="span12">
                <%= render 'layouts/messages' %>
              </div><!--end of .span12 -->

                <%= yield %>

          </div><!--end of .container-fluid -->
        </div><!-- end of #bg -->

        </div><!--end of .content> -->
    </div><!--end of .main> -->
</body>
</html>
